<form action="/carts" method="post" enctype="multipart/form-data">
    <input type="text" name="id" placeholder="Id del carrito">    
    <input type="text" name="product" placeholder="Id del producto a agregar">
    <input type="submit" value="Crear Carrito" />
</form>